<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79878436837-405qqo5mskspuidi4vg7g118l7ijk099.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79878436837-405qqo5mskspuidi4vg7g118l7ijk099</string>
	<key>API_KEY</key>
	<string>AIzaSyAOUkTU7A64PW6zlahELRC6R9JFZcNewX0</string>
	<key>GCM_SENDER_ID</key>
	<string>79878436837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFlutter</string>
	<key>PROJECT_ID</key>
	<string>crud-flutter-248fc</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-flutter-248fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79878436837:ios:76dc672aba6c8670cba10c</string>
</dict>
</plist>